/* #carouselExampleIndicators img{
    height: 40vh;
    padding-left: 5%;
    padding-right: 5%;
} */

.row{
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;

}
.table-container2 {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    max-height: 850px;
}

.data {
    width: max-content; /* Adjust as per your table width requirements */
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.data th, .data td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.data th {
    background-color: #f2f2f2;
}

.table-container3 {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 100%; /* Take full width of the viewport */
    max-width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    max-height: 850px;
}

.data {
    width: max-content; /* Adjust as per your table width requirements */
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* Take full width of the parent container */
}

.data th, .data td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.data th {
    background-color: #f2f2f2;
}

/*the extra css*/
